.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.form {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
}

.h1 {
  font-family: Bree Serif - Verdana;
  font-size: 2.3rem;
  margin: 0;
  text-align: center;
  .green {
    color: #325a3e;
  }
}

.h2 {
  font-family: Bree Serif - Verdana;
  font-size: 1rem;
  text-align: right;
  padding-right: 0.8rem;
  margin: 0;
}
.sublogin {
  font-size: 1rem;
  text-align: center;
}
