.h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  text-align: center;
}
.h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  text-align: right;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}
