.card {
  background-color: #cad4b3;
  align-items: center;
  list-style-type: none;
  border-radius: 1rem;
  padding-bottom: 1rem;
  .location {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin-left: 0.4rem;
    font-weight: bold;
  }
  .info {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    margin-left: 0.8rem;
    font-weight: bold;
  }
  .delete {
    font-family: "Inter", sans-serif;
    margin: 0.5rem;
  }
}
.photo {
  width: 100%;
  height: 80%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 30%;
}
.card {
  width: 15rem;
  height: 20rem;
}
.name {
  display: flex;
  align-content: space-between;
  align-items: center;
}
