.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 0;
}

.icons {
}
.icon {
  text-align: center;
  list-style-type: none;
  margin-left: 2rem;
  padding: 0;
  width: 2rem;
}
