* {
  width: 320px;
}
.ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: normal;
}

.h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #325a3e;
  margin-left: 1rem;
  padding-top: 1rem;
}
