.delete {
  background-color: #325a3e;
  border-width: 0;
  color: white;
  font-family: "Inter", sans-serif;
  border-radius: 20%;
  font-weight: bold;
}
.delete:hover {
  background-color: white;
  color: #325a3e;
}
