* {
  max-width: 20rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 16.25rem;
  align-items: center;
  margin: 0;
}
.email,
.passwd {
  color: black;
  background-color: #5f7b196c;
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 16.25rem;
  margin: 0;
  border-width: 0;
  padding: 1rem;
}
.button {
  border-radius: 3rem;
  width: 16rem;
  padding: 1rem;
  border-width: 0;
  background-color: #325a3e;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
}
